.box {
  width: 500px;
  height: 700px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
  overflow: hidden;
  border: none;
}

.box::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 140%;
  padding: -10px;
  background: conic-gradient(
    #ff2e2e,
    #ff831e,
    #fcff51,
    #58ff57,
    #575fff,
    #d257ff,
    #ff57e5,
    #ff1556,
    #ffff44
  );
  transform: rotate(45deg);
  animation: rotate 10s linear infinite;
  border: none;
}

.box::after {
  content: "";
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  background-color: #000011;
  position: absolute;
  border-radius: 16px;
  border: none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
