@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  html,
  body {
    @apply bg-transparent text-[#e1e0e3] overflow-hidden;
  }
  ::-webkit-scrollbar {
    width: 0;
  }
  .card-shadow {
    box-shadow: 0px 0px 10px 5px #ffffff10;
  }
}

.mouse-effect {
  @apply w-0 h-0 fixed -left-full;
  box-shadow: 0 0 500px 300px #ffffff15;
}

.box {
  @apply rounded-lg border-none relative flex justify-center items-center overflow-hidden;
}

.box::before {
  @apply w-screen aspect-square rotate-45 border-none absolute content-[''] overflow-hidden;
  background: conic-gradient(
    #ff2e2e,
    #ff831e,
    #fcff51,
    #58ff57,
    #575fff,
    #d257ff,
    #ff57e5,
    #ff1556,
    #ffff44
  );
  animation: rotate 10s linear infinite;
}

.box::after {
  @apply content-[''] w-[calc(100%-3px)] h-[calc(100%-3px)] bg-[#0e0e18] absolute rounded-lg border-none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes left-to-right {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes right-to-left {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
