@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind utilities;

@import url(./animate-border.css);
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap");

#custom-particle {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  margin: 0;
  padding: 0;
  z-index: 1;
}

html,
body {
  background: #000011;
  color: #e1e0e3;
  font-family: "book";
}

@font-face {
  font-family: "book";
  src: url("../fonts/book.otf");
}
@font-face {
  font-family: "hairline";
  src: url("../fonts/hairline.otf");
}
@font-face {
  font-family: "light";
  src: url("../fonts/light.otf");
}

@font-face {
  font-family: "regular";
  src: url("../fonts/regular.otf");
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
}
